{% extends 'dashboard/layouts/_base.html' %}
{% load static %}

{% block title %}Administrator{% endblock title %}

{% block content %}
    <div class="admin-container row">
    	<!-- Menu de navigation gauche -->
    	<div class="col l2">
    		menu lateral gauche
    	</div>

    	<!-- main content -->
    	<main class="col l10">

    		<!-- top - bar -->
    		<div class="row">
    			<input type="search" placeholder="Search by Name, Matricule or can scan the card" id="searchInput">
    		</div>

    		<!-- center - content -->
    		<div class="row">
				<div class="col l3">
					<div class="card">
						<div class="card-text">
							<span class="pourcentage-average">70%</span>
						</div>
					</div>
					<div class="card filters">
						<div class="card-title">
							Filters
                            <hr>
						</div>
						<div class="card-text">
							<ul>
								<li class="filter" id="filterAll">TOUS</li>
								<li class="filter" id="filterLadies">FILLES</li>
								<li class="filter" id="filterMen">GARCONS</li>
                                <li class="filter" id="filterFASA">FASA</li>
                                <li class="filter" id="filterFASIC">FASIC</li>
                                <li class="filter" id="filterFATHEO">FATHEO</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col l7">
					<div class="card">
						<table class="table striped">
							<thead>
								<th>Noms</th>
								<th>Genre</th>
								<th>Matricule</th>
								<th>Faculté</th>
								<th>Participation</th>
							</thead>
							<tbody class="s-list"></tbody>
						</table>
						<div>
							Exporter | Imprimer
						</div>
					</div>
				</div>
    		</div>
    	</main>
    </div>
{% endblock content %}

{% block scripts %}
    <script defer src="{% static 'activity/js/activity.js' %}"></script>
{% endblock scripts %}