{% extends 'dashboard/layouts/_base.html' %}
{% load static %}

{% block title %}Pointage{% endblock title %}

{% block content %}
    <div class="pointage-container">
        <div class="container pointage-home">
            <h3>Scannez la carte <br> pour confirmer votre présence</h3><br>
            <div>
                <h4 class="student-name success"></h4>
                <div class="check-icon"></div>
                <div>
                    {% csrf_token %}
                    <input class="rfid-field" type="text" id="rfId" autofocus>
                </div>
            </div>
        </div>
        <div class="center-align">
            <a class="btn" id="btn-fin-pointage" href="{% url 'dashboard:supervisor' %}">Marquer la fin de pointage</a>
        </div>
    </div>
{% endblock content %}

{% block scripts %}
    <script src="{% static 'dashboard/js/pointage.js' %}"></script>
{% endblock scripts %}