body {
    background-color: #f4f4f4;
    color: #4b4b4b;
}

/* 
 * GENERAL 
 */

.error {
    color: red;
}

.success {
    color: green;
}

.warning {
    color: orange;
}

.check-icon {
    width: 75px;
}

.filter {
    cursor: pointer;
    padding: 8px;
}

.filter:hover {
    background-color: #ccc;
}

.text-center {
    text-align: center;
}

.m-0 {
    margin: 0 !important;
}

.p-0 {
    padding: 0 !important;
}

.primary {
    background-color: darkturquoise;
}

/* 
* ADMINISTRATION
*/
.card-participation {
    padding: 30px 20px;
    color: darkturquoise;
    background-color: #f4f4f4;
}

.filter-title {
    margin: 0;
    padding: 10px 0 10px 0;
    color:white;
    background-color: darkturquoise;
}

.export-print-btn {
    padding: 5px;
    background-color: #f4f4f4;
}

.export-print-btn a:first-child {
    margin-right: 30px;
}

.export-print-btn a:last-child {
    margin-left: 30px;
}

.menu-title {
    margin-left: 10px;
    padding: 10px 0;
    color: white;
    background-color: darkturquoise;
}

.search-bar {
    padding: 0 0 20px 0;
    margin: 10px;
    text-align: center;
}

.search-bar input {
    width: 50% !important;
    color: black;
}

.table-parent {
    margin-right: 10px !important;
}

.table-title {
    font-size: 18px;
    color: white;
    margin-bottom: 20px;
}



/* 
 * ENROLEMENT 
 */
.st-list,
.reg-form {
    background-color: white;
    text-align: center;
    border-radius: 5px;
    margin: 0 10px;
}

.st-list h4,
.reg-form h4 {
    padding: 15px;
    color: white;
}

.reg-btns {
    margin-top: 50px;
}

.reg-btns a {
    background-color: darkred;
    margin-right: 50px;
}

.reg-btns a:hover {
    background-color: red;
}

.reg-btns button {
    margin-left: 50px;
}

/* 
 * POINTAGE
 */

.container h3 {
    color: lightslategray;
    font-weight: 200;
    text-align: center;
    font-size: 1.4em;
}

.pointage-container {
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    align-items:center;
}

.supervisor-home,
.pointage-home {
    background-color: white;
    text-align: center;
    width: 600px;
    padding: 20px;
    margin: 70px auto;
    border-radius: 5px;
    box-shadow: 0 0 35px #d8d8d8d3;
}

.btn-group {
    margin-top: 30px;
}

.rfid-field,
.rfid-field:focus {
    border: white !important;
    outline: white !important;
    border-bottom: 1px solid #fff !important;
    box-shadow: 0 1px 0 0 #fff !important;
    color: whitesmoke;
}

.student-name {
    font-size: 2em;
    font-weight: 700;
}

#btn-fin-pointage {
    background-color: #2b2b2b;
    box-shadow: 0 0 0 white;
    margin-bottom: 20px;
}

.check-icon {
    display: inline-block;
    text-align: center;
}

.footer {
    text-align: center;
}

.copyright {
    color: lightgrey;
}

.copyright .heart {
    color: orange;
}
