{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>WPS | {% block title %}{% endblock title %}</title>

    <!-- Materialize css icons-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    {% block dashBoardStyles %}{% endblock %}

    {% block styles %}
        {% comment %} Materialize {% endcomment %}
        <link rel="stylesheet" href="{% static 'dashboard/css/materialize.min.css' %}">
        <link rel="stylesheet" href="{% static 'dashboard/css/app.css' %}">
    {% endblock %}
</head>
<body>
    {% block content %}{% endblock content %}

    {% include 'dashboard/layouts/_footer.html' %}

    <script src="{% static 'dashboard/js/materialize.min.js' %}"></script>
    {% block scripts %}
        <script defer src="{% static 'dashboard/js/app.js' %}"></script>
    {% endblock scripts %}
</body>
</html>